<html>
  <head> </head>
  <body
    style="margin: 0px auto;
  border: solid 1px #ccc;
  width: 80%;"
  >
    <div style="background-color: #000;">
      <div
        style="    float: left;
      width: 12%;"
      >
        <img
          style="width:100px"
          src="https://pbs.twimg.com/profile_images/451342330021163008/y8jn-XxO_400x400.jpeg"
        />
      </div>
      <div
        style="  float: right;
        height: 100px;
        color: #fff;
        background-color: #000;
        width: 86%;
        z-index: 7;
        text-align: center;"
      >
        <h1 style="margin-top: 35px;">Forget Password EntitleArts HRM</h1>
      </div>
    </div>
    <div style="clear:both"></div>
    <div style="margin:20px">
      <h2>Hello {{ userName }}</h2>
      <br />
      We received your request to reset password <br />
      <br />
      Please find the below link and complete reset your password.
      <br />
      Reset Password Link :
      <a href="{{ resetLink }}" target="_blank">{{ resetLink }}</a>
      <br />
      Login Link : <a href="{{ loginLink }}" target="_blank">{{ loginLink }}</a>
      <br />
      If you did not asked for reset, please ignore this mail!!!!<br /><br /><br />

      Regards, <br />
      Admin
    </div>
  </body>
</html>
